* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
@media screen and (max-width: 768px) {
  body{
      font-size: 18px;
  }
}
@media screen and (min-width: 480px){
  body{
    font-size: 16px;
}
}
@media screen and (min-width: 320px){
  body{
    font-size: 14.5px;
}
}
h3{
  font-weight: bold;
}
.desc{
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  line-height: 2.1rem;
  letter-spacing: 0.05px;
}

.topbar{
  background: rgb(226, 247, 255);
  letter-spacing: 2px;
}
.top-sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}
.card-title h1 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.topic-img{
  width: 100%;
  height: auto;
}
.topic{
  margin-top:2rem;
}

.topic-left{
  padding: 2em;
  overflow: hidden;
}
.topic-left img{
  width: 100%;
  height: 100%;
  position: relative;
  
  
}
.topic-right{
  padding: 2em;
  overflow: hidden;
}
.topic-right img{
  width: 100%;
  height: 100%;
  position: relative;
}
.topic-text {
  background-color: #212121;
  width: 100%;
  height: auto;
  padding: 40px;
  text-align: center;
  margin: auto;
  
}
p{
  font-size: 18px;
  color: #444;
  
  
}
.topic-text h2{
  
  letter-spacing: 0.005em;
  color: white;
  font-size: 48px;
}

.name{
 color: black;
 font-weight: bold;
}
.bold{
  font-weight: bold;
}
figcaption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
figcaption h1{
  color: white;
  letter-spacing: 2px;
}
/*---------start hover----------------------*/
/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
  
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
    cursor: pointer;
}
/*---------End hover----------------------*/
.logo{
  width: 190px;
  height: auto;
  margin-left: 20px;
}
img{
  max-width: 100%;
  height: auto;
}
.picshow img{
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
/*---------------topic---------------------------*/

.topicbox img{
  width:636px;
  height:424px;
  object-fit: cover;
  border-radius: 40px;
  padding: 25px;
}